header{
    position: relative;
    width: 100%;
    height: 300px;
    background: url("../photos/head.jpg") no-repeat center center/cover;
}
header .info{
    width: 100%;
}
header .info .left{
    position: absolute;
    left: 20px;
    bottom: 25px;
    font-size: 14px;
    color:rgba(240,240,240,0.8);
}
header .info .left img:first-child{
    border-radius: 50%;
    width: 50px;
}
header .info span{
    padding: 3px;
}
header .info .right{
    text-align: right;
    position: absolute;
    right: 20px;
    bottom: 40px;
}
.icon-weibo:before,.icon-weixin:before {
    font-size: 20px;
    vertical-align: bottom;
    padding: 3px;
    color:rgba(240,240,240,0.8) ;
}
.glyphicon-envelope:before,.glyphicon-envelope:before {
    font-size: 16px;
    padding: 3px;
}
.erweima{
    display: none;
}
/*头部*/
.banner .carousel-inner a img{
    width: 100%;
}
.carousel-indicators li{
    margin: 1px 5px;
}
@media (max-width:750px) {
    header{
        height: 150px;
    }
    header .info img:first-child{
        width: 30px;
    }
    header .info .right{
        bottom: 30px;
    }
    .carousel-indicators li{
        margin: 0.5px 3px;
        width: 8px;
        height: 8px;
    }
    .carousel-indicators .active{
        bottom: 40px;
        width: 9px;
        height: 9px;
    }
}/*小屏设备时背景图的高度*/
@media (min-width: 1200px) {
    header{
        height: 400px;
    }
}/*大屏设备时背景图的高度*/
