header{
    position: relative;
    max-width: 1280px;
    height: 300px;
    margin: 0 auto;
    background: url("../photos/head.jpg") no-repeat center center/cover;
}
header .info{
    width: 100%;
}
header .info .left{
    position: absolute;
    left: 20px;
    bottom: 25px;
    font-size: 14px;
    color:rgba(240,240,240,0.8);
}
header .info .left img:first-child{
    border-radius: 50%;
    width: 50px;
}
header .info span{
    padding: 3px;
}
header .info .right{
    text-align: right;
    position: absolute;
    right: 20px;
    bottom: 40px;
}
.icon-weibo:before,.icon-weixin:before {
    font-size: 20px;
    vertical-align: bottom;
    padding: 3px;
    color:rgba(240,240,240,0.8) ;
}
.glyphicon-envelope:before,.glyphicon-envelope:before {
    font-size: 16px;
    padding: 3px;
}
.erweima{
    position: absolute;
    right: 0;
    top: -110px;
    display:block;
    width: 100px;
}
/*头部*/
.banner{
    max-width: 1280px;
    margin: 0 auto;
}
.banner .carousel-inner a img{
    width: 100%;
}
.carousel-indicators li{
    margin: 1px 5px;
}
.carousel-caption {
    font-size: 16px;
    color:rgba(255,255,255,0.7);
    text-align:right;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
}
.carousel-control.right{
    height: 50px;
    width: 50px;
    right:5%;
    top:50%;
    margin-top: -25px;
}
.carousel-control.left{
    height: 50px;
    width: 50px;
    left:5%;
    top:50%;
    margin-top: -25px;
}
/*导航*/
nav{
    max-width: 1280px;
    margin: 0 auto;
}
.nav > li {
    display:inline-block;
    padding: 0 30px;
}
.nav > li > a {
    font-size: 14px;
    padding:0 ;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.nav-tabs {
    margin-bottom: 15px;
    text-align: center;
    border-bottom:none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.nav-tabs > li {
    height: 60px;
    line-height: 60px;
    float: none;
    margin-bottom:0;
}
.nav-tabs > li > a {
    color:rgba(0,0,0,.3);
    margin-right: 2px;
    line-height: 60px;
    border: 1px transparent solid;
}
.nav-tabs > li > a:hover {
    border-color:transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: rgba(0,0,0,1);
    background-color:transparent;
    border: 1px solid transparent;
    border-bottom: #c9a610 3px solid;
}
.tab-content{
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
}
.tab-content .tab-pane{
    width: 100%;
    text-align: center;
}
.tab-content .tab-pane img{
    width: 80%;
    margin: 20px 0;
    box-shadow:0px 5px 5px rgba(0, 0, 0, 0.6);
}
.tab-content .tab-pane img:hover{
    transform: translateY(-5px);
    box-shadow:0px 5px 10px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ;
}
.tab-pane.per{
    text-align: center;
}
.tab-pane.per a{
    display: inline-block;
    width: 45%;
    margin: 0px 2%;
}
.tab-pane.per img{
    width: 100%;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.6);
}
#scenery img{
    display: inline-block;
    width: 30%;
    margin: 10px 1%;
}
.end{
    margin: 40px auto;
    display: block;
}
/*图片内容*/
footer{
    margin: 0px auto;
    max-width: 1280px;
    background-color: #2a2a2a;
}
footer ul{
    text-align: center;
}
footer ul li{
    display: inline-block;
    margin: 30px;
}
footer ul li img{
    width: 100px;
}
footer ul li p{
    line-height: 20px;
    height: 30px;
    color: #ccc;
}
.love{
    font-size: 20px;
}
footer>p{
    font-size: 14px;
    text-align: center;
    padding-bottom: 10px;
}/*底部*/
.glyphicon-open.top{
    display: block;
    font-size: 30px;
    position: fixed;
    top: 80%;
    right:2%;
    color: rgba(0,0,0,.5);
}/*返回顶部小按钮*/
.mask{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: rgba(0,0,0,.6) ;
    width: 100%;
    height: 100%;
    display:none;
}/*遮罩*/
.render{
    position: fixed;
    left:0;
    top: 15%;
    z-index: 1000;
    background: rgba(0,0,0,1) ;
    width: 100%;
    height:70%;
    display:none;
    overflow: hidden;
    padding-top: 90px;
}
.render_ul{
    height: 100%;
    margin: auto;
    overflow: hidden;
}
.render_li{
    height: 100%;
   float: left;
}
.render_li div{
    position: relative;
    margin:4% auto;
    height: 90%;
    max-height: 720px;
    background: no-repeat center center/contain;
    width: 90%;
}
.glyphicon-remove{
    position: absolute;
    top: 40px;
    right: 50px;
    font-size: 30px;
    float: right;
}
.render_li div span{
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -39px;
    top:-20px;
    color: #CCCCCC;
}
@media (max-width:750px) {
    header{
        height: 150px;
    }
    header .info img:first-child{
        width: 30px;
    }
    header .info .left{
        bottom: 15px;
        left: 10px;
    }
    header .info .right{
        bottom: 30px;
    }
    .carousel-indicators li{
        margin: 0.5px 3px;
        width: 8px;
        height: 8px;
    }
    .carousel-indicators .active{
        bottom: 40px;
        width: 9px;
        height: 9px;
    }
    .carousel-caption{
        margin-bottom: -20px;
    }
    .carousel-caption h3{
        font-size: 16px;
    }
    .carousel-caption p{
        font-size: 50%;
    }
    .nav > li {
        padding: 0 10px;
    }
    .nav > li > a {
        font-size: 12px;
    }
    .nav-tabs > li {
        height: 35px;
        line-height: 35px;
    }
    .nav-tabs > li > a {
        color:rgba(0,0,0,.4);
        line-height:35px;
    }
    .nav-tabs > li > a.active{
        border-bottom: #c9b013 2px solid;
    }
    footer ul li{
        margin: 15px;
    }
    footer ul li img{
        width: 60px;
    }
    .love{
        font-size: 14px;
    }
    .glyphicon-open:before{
        display: none;
    }/*隐藏返回顶部小按钮*/
    .render{
        height: 50%;
        padding-top:0px;
    }
    .glyphicon-remove{
        top: 7%;
        right: 20px;
        font-size: 20px;
    }
    .render_li div{
        margin:11% auto;
        height: 80%;
        width: 84%;
    }
}/*小屏设备时背景图的高度*/
@media (min-width: 768px) {
    .render{
        height: 70%;
        padding-top:50px;
    }
}
@media (min-width: 375px) {
    .glyphicon-chevron-right,.glyphicon-chevron-left{
        top:65% !important;
    }
}
@media (min-width: 1200px) {
    header{
        height: 400px;
    }
}/*大屏设备时背景图的高度*/
